name: Publish Quarto site to GitHub Pages

on:
  - push
  - workflow_dispatch

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Python deps for Quarto
        run: |
          python -m pip install --upgrade pip
          python -m pip install nbformat jupyter ipykernel
          
      - name: Render
        run: quarto render

      - name: Deploy to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
